.registration-details-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
  }
  
  .details-content {
    margin-top: 20px;
  }
  
  .edit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
.p1, .para{
  width: 100%; 
  padding: 12px 20px; 
  margin: 8px 0; 
  display: inline-block; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}


